<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dictionary</title>
</head>
<body>
    <form id="input_form">
        {% csrf_token %} 
        <input type="text" placeholder="Word" id="input" autofocus>
        <button>Find</button>
    </form>

    <div id="result">

    </div>
    <script>
        form = document.querySelector("#input_form")
        form.addEventListener('submit', function(event) {
            event.preventDefault();
            word = document.querySelector("#input").value
            fetch(`https://api.dictionaryapi.dev/api/v2/entries/en/${word}`)
            .then(response => response.json())
            .then(data => {
                console.log(data[0].meanings[0].definitions[0].definition);
            let meaning = data[0].meanings[0].definitions[0].definition;
            document.querySelector("#result").innerHTML = `<h1>${word}</h1><p>${meaning}</p>`
            }
            );
            document.querySelector("#input").value = ''
            
        });
        
    </script>
</body>
</html>
